*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
font-size: 18px;
font-family: basic;
color: black;
overflow-x: hidden;
position: relative;

}
@font-face {
    font-family: basic;
    src: url('CaviarDreams.ttf');
}
@font-face {
    font-family: main;
    src: url('Kiss Melody.ttf');
}

.container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.first{
    width: 65%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    background-color: white;
}
/*navigation bar*/
.nav{
    display: flex;
    height: 10vh;
    font-weight: bold;
    z-index: 5;
    
}
.nav ul {
    display: flex;
    
}

.nav li {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav li a {
    text-decoration: none;
    padding: 1em 2em;
    font-size: 20px;
    color: black;
    transition: background-color 0.3s ease-in-out ;
}

.nav li a:hover {
    background-color: rgba(3, 109, 3, 0.596);
    color: white;
}
.main{
height: 80vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 3em;
padding-right: 15em;
z-index: 0;
}

.main h1{
    font-family: 'main';
    font-size: 80px;
    line-height: 80px;
}
.main span{
    color: rgb(2, 112, 2);
text-shadow: 2.5px 2px black;
}
.main #firstLine{
    transform: translateX(-30px);
}
.main #secondLine{
    transform: translateX(30px);
}
/*small block*/
.block{
    position: relative;
    font-size: 19px;
    font-weight: 1000;
   margin-top: 0.4vw;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.block::before{
    content: '';
    position: absolute;
    top: 130%;
    left: -15%;
    width: 50%;
    height: 100%;
    background-image: url('fork.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
   
    transform: rotate(-15deg);
    transform-origin: bottom left;
    z-index: -1;
    transition: all 0.5s;
}
.block::after{
    content: '';
    position: absolute;
    top: 48%;
    right: -17%;
    width: 50%;
    height: 100%;
    background-image: url('spoon.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    
    transform: rotate(15deg);
    transform-origin: bottom left;
    z-index: -1;
    transition: all 0.5s;
}

#orderbttn {
   text-decoration: none;
   padding: 0.5em 1.5em;
  
   margin-top: 1em;
   color: white;
   background-color: green;
   border-radius: 15px;
   transition: all 0.5s;
   
}
#orderbttn:hover, .thirdcontent a:hover{
    transform: scale(1.15);
}
.block:hover::before{
  transform: translateX(1vw)  rotate(-15deg);
}
.block:hover::after{
    transform: translateX(-1vw)  rotate(15deg);  
}
.bubble{
    position: absolute;
    top: -150px;
    right: -150px;
    width: 300px;
    height: 300px;
    background-color: rgb(221, 221, 221);
border-radius: 50%;
display: none;
}
/*side img*/
.second{
    width: 35%;
     height: 90vh;
    background-color: rgb(9, 58, 9);
   background-image: linear-gradient(to right, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.616), transparent,transparent, rgba(0, 0, 0, 0.616), rgb(0, 0, 0)),url('greens.jpg');
    background-size: 100% auto;
    opacity: 0.9;
    filter: blur(2px);
    border: 10px solid black;
}
.pic{
    position: absolute;
 
    bottom: 10px;
    right: 17vw;
    width: 35vw;
    height: 80vh;
    display: flex;
    align-items: center;
   }
   .pic img{
       width: 700px;
       padding-top: 3.5vh;
       animation: slideup 1.5s ease-in-out ;
   }
   /*second container*/
   .secondcontainer{
       position: relative;
      width: 100%;
       height: 40vw;
     
       display: flex;
       align-items: center;
       justify-content: center;
      
   }
   .secondcontainer::before{
    content: '';   
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.616), transparent,transparent, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.561)), url('greens2.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
    filter: blur(2px);
   
z-index:-1 ;
border: 10px solid black;
   }

   .smallsecond{
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       width: 80%;
      
      
   }

   .box{
       background-color: rgb(219, 219, 219);
       box-shadow: 3px 3px 5px grey;
       width: 238px;
       height: 352px;
       border-radius: 15px;
       display: flex;
       align-items: center;
       justify-content: center; 
       flex-direction: column;
   /* background-image: linear-gradient(to top right,black,white,white,white,black);
*/  
}

.box img {
    width: 100px;
}

.box h3 {
    font-size: 20px;
    padding: 15px 5px;
}

.box p {
    padding: 15px 8px;
    text-align: center;
   
}
.thirdcontainer
{
       width: 100%;
       height: 40vw;
       display: flex;
       align-items: center;
       justify-content: center;
    background-color: black;
      position: relative;
   }
   
   .thirdcontent{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border: 5px double rgb(4, 93, 4);
border-radius: 60px;
padding: 0em 7em;
margin-top: 1vw;
text-align: center;
width: 90%;
height: 85%;
background-color: white;
}

.thirdcontent h1
{
       font-family: main;
       color: rgb(1, 102, 1);
       font-size: 50px;
       text-shadow: 2px 2px black ;
   }
.thirdcontent p{
       font-weight: bold;
       margin-bottom: 1vw;
   }
.thirdcontent a{
text-decoration: none;
padding:1em 2em ;
background-color: rgb(0, 93, 0);
font-weight: bold;
color: white;
border-radius: 20px;
margin-top: 2vw;
transition: all 0.5s;
}

.forthcontainer
{
    width: 100%;
 
    position: relative;
    background-color: transparent;
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vw;
}
.forthcontainer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('meal (2).jpg');
    background-size: 150% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(2px);
    opacity: 0.4;
}
.forthcontent{
    margin-right: 6.5vw;
}

.forthcontent h1, p{
    font-weight: bold;
}
.forthcontent h1{
    font-family: main;
    font-size: 4vw;
    color: rgb(1, 93, 1);
    text-shadow: 2px 2px  black;
}
.forthpic img{
    width: 30vw;
    box-shadow: 2px 2px 5px black;
}

.lastcontainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: black;
}
.boxx{
    margin:5vw ;
}
.boxx h1{
    margin-bottom: 1.5vw;
    font-size: 20px;
}
.boxx p{
    margin: 1vw 0;
    color: grey;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.icons img{
    width: 3vw;
    margin: 1vw;
}
#firstLine{
    transition: all 0.5s;
    animation: slideleft 1s ease-in-out ;
}
#secondLine{
    transition: all 0.5s;
    animation: slideright 1s ease-in-out ;
}

/*animations*/
@keyframes slideleft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(-30px);
    }
}
@keyframes slideright{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(30px);
    }
}

@keyframes slideup{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}