*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*navigation*/
.nav li a {
    text-decoration: none;
    padding: 1.1vw 2.5vw;
    font-size: 2.5vw;
}
/*fork and spoon*/
.block::before{
  
    top: 100%;
    left: -25%;
   
 
}
.block::after{
     top: 48%;
    right: -25%;
    
}
/*main pic*/
.pic img{
    width: 60vw;
    padding-top: 3.5vh;
    
}

.main{
    
    padding-right: 20vw;
   
    }
    
.main h1{
   font-size: 8vw;
    }
    .main p{
        font-size: 2vw;
    }
    .secondcontainer{
        height: 55vw;
    }
/*
    .thirdcontainer{
        padding: 3vw 5vw;
    }
.thirdcontent   {
    padding: 1vw 2vw;
}  
.thirdcontent p{
    margin-bottom: 1.5vw;
}
.thirdcontent a{
    margin-top: 1vw;
}*/